[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TFORGE"]
	path = TFORGE
	url = https://github.com/kasselhingee/tforge
[submodule "lacunaritycovariance"]
	path = lacunaritycovariance
	url = https://github.com/kasselhingee/lacunaritycovariance
[submodule "scorematchingad"]
	path = scorematchingad
	url = https://github.com/kasselhingee/scorematchingad
